/*bootstrap*/
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	margin:0px;
	margin-top: 0px;
	padding: 0px;
}
.row
{
	padding: 0px;
	margin: 0px;
}
/*bootstrap End*/

.dog
{
	width: 10%;
	height: 75px;
	background-color: red;
}
.dogPicture
{
	width: 100%;
	height: 100%;
}
.chaseLane
{
	margin-top: 5px;
	border: 1px solid grey;
}
#startLine, #finishLine
{
	position: absolute;
	height: 100%;
	width: 10px;
	background-color: #e1e1d0;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-left: 12%;
}
#finishLine
{
	right: 0px;
	top: 0px;
	border-right: 0px;
}
#dog1
{
	margin-left: 0%;
}

#startButtonRow
{
	margin-top: 2px;
}
.startButton
{
	margin: auto;
	width: 100%;
	height: 50px;
	background-color: #2eb82e;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.relative
{
	position: relative;
}
#controls
{
	margin-top: 2px;
}
.playerButton
{
	background-color: #2eb82e;
	width: 40%;
	height: 75px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	
}
#playerButton1
{
	position: absolute;
	left: 0px;
	top: 0px;
}
#playerButton2
{
	position: absolute;
	right: 0px;
	top: 0px;
}